@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
	font-size: 1.2em;
	background: #edecec;
	color: #333;
	line-height: 16px;
}

a img{
	border:none;
}

.clearfix {
	clear:both;
}

.outlink {
	background: url("../images/sprites.png") no-repeat scroll right center transparent;
	background-position: 0 -115px;
    padding-right: 12px;
}

#header {
	border-bottom: 1px dashed #D4D4D4;
	padding-bottom: 10px;
}
	.header_main {
		margin: 0 auto;
		width: 1024px;
		height: 50px;
	}
		.header_main h1 a {
			background-image: url("../images/sprites.png");
			background-position: 0 0;
			display: block;
			height: 50px;
			text-indent: -9999px;
			width: 170px;
			float: left;
		}
		.openboxlink a{
			float: left;
			display: block;
			height: 30px;
			margin:10px;
			width: 100px;
			background-color: #FFFFFF;
		}
		
#wapper {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
}

	.left_box {
		float: left;
		margin: 12px 0;
		width: 500px;
		height: 100%;
	}
		.tab_box {
			width: 500px;
			height: 25px;
			margin-bottom: 10px;
		}
			.tab_box a {
				background: #FFFFFF;
				color: #FF2581;
				border: 4px solid #DDDDDD;
				display: block;
				float: left;
				font-size: 12px;
				padding: 3px 25px;
				text-decoration: none;
				margin-right:5px;
			}
			.selected{
				background: #FF2581!important;
				color: #FFFFFF!important;
			}

		.box {
			background: #FFFFFF;
			margin-top: 5px;
			float: left;
			padding: 5px;
			border: 4px solid #DDDDDD;
		}
		.votecell {
			float: left;
			width: 40px;
			min-height: 145px;
			margin-right: 5px;
			border: 1px solid #DDDDDD;
		}
			.vote_up_off {
				font-size: 1px;
				text-indent: -9999em;
				cursor: pointer;
				background-position: 0 -52px;
				display: block;
				height: 20px;
				margin: 0 auto;
				width: 41px;
				background-image: url("../images/sprites.png");
				background-repeat: no-repeat;
				overflow: hidden;
			}
			.vote_count_post {
				color: #808185;
				display: block;
				font-weight: bold;
				font-size: 100%;
				text-align: center;
			}
			.vote_down_off {
				font-size: 1px;
				text-indent: -9999em;
				cursor: pointer;
				background-position: 0 -67px;
				display: block;
				height: 20px;
				margin: 0 auto;
				width: 41px;
				background-image: url("../images/sprites.png");
				background-repeat: no-repeat;
				overflow: hidden;
			}
			.user {
				width: 30px;
				height: 30px;
				border: 1px solid #262626;
				margin: 53px 0 0 4px;
			}
			.user img {
				width: 30px;
				height: 30px;
			}
		.box_content {
			float: right;
			padding: 5px 5px 0 5px;
			font-size: 12px;
			line-height: 20px;
			width: 425px;

		}
			.box_content a {
				color: #666666;
				cursor: pointer;
				text-decoration: none;
			}
			.box_content a:hover {
				color: #000000;
			}
			.splink {
				padding-top:3px;
				border-top: 1px dashed #DDDDDD;
				margin-top: 5px;
			}
			.splink a {
				text-decoration: none;
				color:#0082CB;
				margin-right:10px;
			}
			.splink a:hover {
				color:#0082CB;
				text-decoration: underline;
			}

	.right_box {
		float: right;
		margin: 12px 0;
		width: 500px;
		height: 100%;
	}

#openbox {
	font-size: 14px;
}
	
#openbox textarea {
    border: 4px solid #DDDDDD;
    font-size: 14px;
    height: 70px;
    line-height: 124%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    width: 475px;
	color: #ABABAB;
}
#openbox input {
	border: 4px solid #DDDDDD;
    font-size: 14px;
    height: 20px;
    line-height: 124%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    width: 475px;
	color: #ABABAB;
}
.putbox {
	background: #FF2581;
	color: #FFFFFF!important;
	border: 4px solid #DDDDDD!important;
	display: block;
	font-size: 12px;
	padding: 3px 25px!important;
	text-decoration: none;
	margin-right:5px!important;
	width: 100px!important;
	height: 40px!important;
	margin: 10px 0;
}
#openbox input:focus,#openbox textarea:focus {
    border: 4px solid #EF9E4D;
}